{{!-- 
<div class="blog-post">
 
  <h2>{{title}}</h2>
  <p>{{post}}</p>
  <p>Author: {{user.name}}</p>
  <p>Published on: {{blogDate}}</p>
</div> --}}


  <article>
        <h2>{{title}}</h2>
        <p>{{post}}</p>

        <div class="auth">
            <span>Author: {{user.name}}</span> |
            <span>Published on: {{blogDate}}</span>
        </div>
    </article>