
{{#if alertMessage}}
  <script>
     alert('{{alertMessage}}');
  </script>
{{/if}}

  <article>
       <a href="/blogedetails/{{id}}">
          <h2>{{title}}</h2>
          <p class = "pblog">{{post}}</p>
          
         <div class="auth">
            <span>Author: {{user.name}}</span> |
            <span>Published on: {{blogDate}}</span>
          </div>
        </a>
   </article>