<form>
        {{!-- {{Log blogData}} --}}
        <label>Title:</label>
        <input type="text" id="posttitle" name="postTitle" required>

        <label >Content:</label>
        <textarea id="postcontent" name="postContent" rows="8" required> </textarea>

        <label for="post-author">Author:<span id = "authName">{{autherName}}</span> </label>
        {{!-- <input type="text" id="authname" name="post-author" value = {{autherName}}> --}}

        <label for="ID"><span id = "userId">{{userId}}</span></label>
        {{!-- <input type="date" id="postDate" name="post-date" required> --}}
        {{!-- <label id="useremail">{{email}}</label> --}}
         {{!-- <input type="text" id="blogId" name="Blog ID"> --}}
        <button type="submit" id = "saveBtn">Save</button> 
</form>
<script src="/js/newblog.js"></script>